<div class="delete_modal_{{ name }} modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation de suppression</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer cette entité ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary me-auto mb-auto" data-bs-dismiss="modal">Fermer</button>
                {{ form_start(delete_form, {'attr': {'class': 'pull-right'}}) }}
                {{ form_row(delete_form.confirm, {'attr': {'class': 'btn btn-danger'}}) }}
                {{ form_rest(delete_form) }}
                {{ form_end(delete_form) }}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->