{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}

        {% set classes = {'class': listAttributes["class"]} %}
        {% for children in item.getChildren %}
            {# Recherche un élément li actif #}
            {%- if matcher.isCurrent(children) %}
                {# mm-show est ajouté au sous-menu ul s'il est parent d'un élément li actif #}
                {% set classes = {'class': listAttributes["class"] ~ " mm-show"} %}
            {%- endif %}
        {% endfor %}

        <ul{{ knp_menu.attributes(listAttributes|merge(classes)) }}>
            {{ block('children') }}
        </ul>

    {% endif %}
{% endblock %}

{% block linkElement %}
    {% import _self as knp_menu %}
    {% if item.attribute('class') == 'header' %}
        {{ block('label') }}
    {% else %}
        <a
            {% if item.hasChildren %}class="has-arrow"{% endif %}
            href="{{ item.uri }}"
            {{ knp_menu.attributes(item.linkAttributes) }}
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-custom-class="menu-tooltip"
            title="{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}"
        >
            {{ block('label') }}
        </a>
    {% endif %}
{% endblock %}

{% block label %}
    <div class="hstack">
        {% if item.labelAttribute('icon') %}
            <div>
                <i class="icon {{ item.labelAttribute('icon') }}"></i>
            </div>
        {% endif %}
        <div class="label">
            {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}
        </div>
    </div>
{% endblock %}

{% block spanElement %}
    {{ block('linkElement') }}
{% endblock %}
